body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 80%;
    max-width: 1200px; /* Tilføjet for at begrænse bredden på større skærme */
    padding: 0; /* Fjern padding hvis nogen */
}

/* Header stilarter */
header {
    background-color: #4CAF50; /* Ændret til grøn */
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%; /* Fylder containerens bredde */
    box-sizing: border-box; /* Sikrer, at padding ikke tilføjer ekstra bredde */
}

header h1 {
    margin: 0;
    font-size: 2em;
    width: 100%; /* Sikrer at overskriften fylder hele bredden af headeren */
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Hovedindhold stilarter */
main {
    margin: 20px 0;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%; /* Fylder containerens bredde */
    box-sizing: border-box; /* Sikrer, at padding ikke tilføjer ekstra bredde */
}

article {
    margin-bottom: 40px;
}

article header {
    border-bottom: 2px solid #ddd;
    margin-bottom: 10px;
    width: 100%; /* Fylder containerens bredde */
}

article header h2 {
    font-size: 1.5em;
    margin: 0;
}

article time {
    color: #777;
    font-size: 0.9em;
}

article p {
    font-size: 1.1em;
}

.image {
    width: 500px;
    height: 300px;
}

/* Sideindhold stilarter */
aside {
    margin: 20px 0;
    padding: 10px;
    background-color: #e9e9e9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%; /* Fylder containerens bredde */
    box-sizing: border-box;
}

aside h2 {
    font-size: 1.3em;
    margin-bottom: 10px;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    margin-bottom: 10px;
}

aside ul li a {
    text-decoration: none;
    color: #4CAF50; /* Ændret til grøn */
    font-weight: bold;
}

/* Footer stilarter */
footer {
    background-color: #3771e0;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%; /* Fylder containerens bredde */

}

footer p {
    margin: 0;
}
