<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Attractions</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
<h1>Turistattraktioner</h1>

<table>
    <thead>
    <tr>
        <th> Navn </th>
        <th> Beskrivelse </th>
        <th>  </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="attraction: ${attractions}">
        <td>
            <a th:href="@{/attractions/{name}(name=${attraction.name})}" th:text="${attraction.name}"></a>
        </td>
        <td th:text="${attraction.description}"></td>
        <td>
            <a th:href="@{/attractions/{name}/tags(name=${attraction.name})}">
                <button type="button">Tags</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/attractions/add}">
    <button type="button">Tilføj attraktion</button>
</a>
</body>
</html>