<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> th:text="${attraction.name}" > </title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<h1>
    Tags for
    <span th:text="${name}"></span>
</h1>

<div class="tags-container">

    <ul>
        <li th:each="tag : ${tags}" th:text="${tag}">Tag</li>
        <li th:if="${tags.isEmpty()}">Ingen tags tilføjet</li>
    </ul>

    <form action="#" th:action="@{/attractions}">
        <button type="submit">Tilbage</button>
    </form>



</body>
</html>